---
// Import necessary components, modules and types
import MainLayout from "@/layouts/MainLayout.astro";
import CardSpeech from "@components/ui/cards/CardSpeech.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { SITE } from "@data/constants";

// Get all speeches post in Vietnamese and sort them based on publish date
const speechPosts: CollectionEntry<"speeches">[] = await getCollection("speeches", ({ id }) => {
  return id.startsWith("vi/");
});

// Define variables for page content
const title: string = "Ngữ lục";
const subTitle: string = "Tổ sư thiền";
const pageTitle: string = `Ngữ lục | ${SITE.title}`;
---

<MainLayout lang="vi"
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebPage",
    "@id": "https://patriarchalzen.quest/vi/speeches",
    "url": "https://patriarchalzen.quest/vi/speeches",
    "name": "Ngữ lục | Patriarchal Zen",
    "description": "Ngữ lục Tổ sư thiền",
    "isPartOf": {
      "@type": "WebSite",
      "url": "https://patriarchalzen.quest/vi",
      "name": "Patriarchal Zen",
      "description": "Ngữ lục Tổ sư thiền"
    },
    "inLanguage": "vi"
  }}
>
  <section
    class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
  >
    <!--Page header-->
    <div class="mx-auto max-w-3xl text-left sm:text-center">
      <h1
        class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
      >
        {title}
      </h1>

      <p
        class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
      >
        {subTitle}
      </p>
    </div>
  </section>

  <section
    class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
  >
    <!--Blog posts grid-->
    <div class="grid gap-6 lg:grid-cols-2">
      {speechPosts.map((speechEntry) => <CardSpeech speechEntry={speechEntry} speechLocale="vi"/>)}
    </div>
  </section>
</MainLayout>
