---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import whiteHeroImage from "@images/white-zen-circle.png";
import blackHeroImage from "@images/black-zen-circle.png";
import whiteFeatureImage from "@images/white-zen-circle.png";
import blackFeatureImage from "@images/black-zen-circle.png";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";
import faqs from "@data/vi/faqs.json";
import features from "@data/vi/features.json";
import pricing from "@data/vi/pricing.json";
import { getRelativeLocaleUrl } from "astro:i18n";
import { partnersData } from "@/data_files/constants";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
let theme = 'dark'; // Default before hydration
---

<MainLayout lang="vi">
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Tổ sư thiền"
    url="https://github.com/trannhukhoinguyen/patriarchal-zen"
  />

  <div id="hero-section" data-theme={theme}>
    <HeroSection
        client:load
        title=`Tổ sư thiền <span class="text-yellow-500 dark:text-yellow-400">Patriarchal Zen</span>`
        subTitle="Tổ sư thiền"
        primaryBtn="Tổ sư thiền"
        primaryBtnURL={getRelativeLocaleUrl("vi", "koans")}
        secondaryBtn="Contacter l'équipe commerciale"
        secondaryBtnURL={getRelativeLocaleUrl("vi", "contact")}
        withReview={true}
        avatars={avatarSrcs}
        rating=`<span class="font-bold">4.8</span> / 5`
        starCount={4}
        reviews=`Tổ sư thiền <span class="font-bold">12,8k</span> avis`
        src={ theme === "dark" ? whiteHeroImage : blackHeroImage }
        alt="Tổ sư thiền"
    />
  </div>


  <ClientsSection
    title="Tổ sư thiền"
    subTitle="Tổ sư thiền"
    partners={partnersData}
  />

  <div id="features-general" data-theme={theme}>
    <FeaturesGeneral
        client:load
        title="Tổ sư thiền"
        subTitle="Tổ sư thiền"
        src={ theme === "dark" ? whiteFeatureImage : blackFeatureImage }
        alt="Tổ sư thiền"
        features={features}
    />
  </div>

  <FeaturesNavs
    title=`Tổ sư thiền <span class="text-yellow-500 dark:text-yellow-400">Patriarchal Zen</span> Tổ sư thiền`
    tabs={[
      {
        heading: "Tổ sư thiền",
        content:
          "Tổ sư thiền",
        svg: "tools",
        src: tools,
        alt: "Tổ sư thiền",
        first: true,
      },
      {
        heading: "Tổ sư thiền",
        content:
          "Tổ sư thiền",
        svg: "dashboard",
        src: dashboard,
        alt: "Tổ sư thiền",
        second: true,
      },
      {
        heading: "Tổ sư thiền",
        content:
          "Tổ sư thiền",
        svg: "house",
        src: construction,
        alt: "Tổ sư thiền",
      },
    ]}
  />

  <TestimonialsSection
    title="Tổ sư thiền"
    subTitle="Tổ sư thiền"
    testimonials={[
      {
        content:
          "Tổ sư thiền",
        author: "Samantha Ruiz",
        role: "Directrice des opérations | ConstructIt Inc.",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "Tổ sư thiền 1",
      },
      {
        count: "35%",
        description:
          "Tổ sư thiền 2",
      },
      {
        count: "15,3%",
        description:
          "Tổ sư thiền 3",
      },
      {
        count: "2x",
        description:
          "Tổ sư thiền 4",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Tổ sư thiền<br />fréquemment posées" faqs={faqs} />

  <HeroSectionAlt
    title="Tổ sư thiền"
    subTitle="Tổ sư thiền"
    url="https://github.com/trannhukhoinguyen/patriarchal-zen"
  />
</MainLayout>

<script is:inline>
  let theme = localStorage.getItem('hs_theme') ||
      (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');

  const heroSection = document.querySelector('#hero-section');
  const featuresGeneral = document.querySelector('#features-general');
  heroSection.setAttribute('data-theme', theme);
  featuresGeneral.setAttribute('data-theme', theme);
</script>
