---
import VideoIframe from "@/components/ui/Video.astro";
const { id, path } = Astro.params;
import LayoutEpisode  from "@/layouts/LayoutEpisode.astro";
import { videosExample } from "@database/dataMedia";
import Video from "@/components/ui/Video.astro";
import DailyMotion from "@/components/ui/DailyMotion.astro";

export function getStaticPaths() {
    return videosExample.map((ep) => ({
        params: {
            path: ep.path,
            id: ep.id,
        },
    }));
}

const episode = videosExample.find((ep) => ep.id === +id);
---

<LayoutEpisode  image={episode?.image} title={episode?.title || "404"}>
    <div
            class="relative bg-zinc-900 min-h-full flex flex-col overflow-x-hidden rounded-lg"
            transition:name=`playlist ${episode?.id} box`
    >
        <!--    <Video
                title={episode?.title}
                src={episode?.episodeId}
            />-->

        <DailyMotion
                title={episode?.title}
                src={episode?.episodeId}
        />
    </div>
</LayoutEpisode >

<style>
    .title-clamp {
        font-size: clamp(20px, 6vw, 70px);
        line-height: 1;
    }
</style>
