---
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import DuyLuc from "@images/monasteries/duy-luc-monastery.avif";
import QuySon from "@images/monasteries/quy-son-monastery.avif";
import ThanhLong from "@images/monasteries/quy-son-monastery.avif";
import PhatDa from "@images/monasteries/phat-da-monastery.avif";
import TamBao from "@images/monasteries/phat-da-monastery.avif";
import LieuQuan1 from "@images/monasteries/phat-da-monastery.avif";
import HuyenTrang from "@images/monasteries/phat-da-monastery.avif";
import ThienTri from "@images/monasteries/phat-da-monastery.avif";
import LienHoa from "@images/monasteries/phat-da-monastery.avif";
import LienHuong from "@images/monasteries/phat-da-monastery.avif";
import PhatQuang from "@images/monasteries/phat-da-monastery.avif";
import ThienQuang from "@images/monasteries/phat-da-monastery.avif";
import PhuocDien from "@images/monasteries/phat-da-monastery.avif";
import PhuocLoc from "@images/monasteries/phat-da-monastery.avif";
import faqsZen from "@database/faqs.json";
import faqsReasonResult from "@database/faqs1.json";
import faqsOther from "@database/faqs2.json";
import faqsStories from "@database/faqs3.json";
import { getRelativeLocaleUrl } from "astro:i18n";
import { partnersData } from "@database/constants";
---

<MainLayout lang="vi">

  <FAQ title="Duy Lực Ngữ Lục<br />Giải Nghi về<br />Tổ Sư Thiền" faqs={faqsZen} />
  <FAQ title="Duy Lực Ngữ Lục<br />Giải Nghi về<br />Nhân quả" faqs={faqsReasonResult} />
  <FAQ title="Duy Lực Ngữ Lục<br />Giải Nghi khác" faqs={faqsOther} />
  <FAQ title="Duy Lực Ngữ Lục<br />Kể chuyện về<br />Tổ Sư Thiền" faqs={faqsStories} />

  <FeaturesNavs
      title=`<span class="text-yellow-500 dark:text-yellow-400">Thiền đường Tổ Sư Thiền (Việt Nam)</span>`
      tabs={[
        {
          heading: "Thiền Viện Duy Lực",
          content: "VVMJ+JQG, Unnamed Road, An Hoà, Biên Hòa, Đồng Nai, Việt Nam",
          svg: "house",
          src: DuyLuc,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Thiền Tự Quy Sơn",
          content: "G4H3+RG2, Tân Hoà, Tân Thành, Bà Rịa - Vũng Tàu, Việt Nam",
          svg: "house",
          src: QuySon,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Tu Viện Thanh Long",
          content: ", Tân Hoà, Tân Thành, Bà Rịa - Vũng Tàu, Việt Nam",
          svg: "house",
          src: ThanhLong,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Tam Bảo",
          content: "Đồng Tháp, Việt Nam",
          svg: "house",
          src: TamBao,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Phật Đà",
          content: "362 Nguyễn Đình Chiểu, Phường 4, Quận 3, Tp. Hồ Chí Minh, Việt Nam",
          svg: "house",
          src: PhatDa,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Thiền đường Liễu Quán 1",
          content: "Tân Hoà, Tân Thành, Bà Rịa - Vũng Tàu, Việt Nam",
          svg: "house",
          src: LieuQuan1,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Lá Huyền Trang",
          content: "Huyện Nhà Bè, Tp. Hồ Chí Minh, Việt Nam",
          svg: "house",
          src: HuyenTrang,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Thiên Trì",
          content: "Huyện Bình Chánh, Tp. Hồ Chí Minh, Việt Nam",
          svg: "house",
          src: ThienTri,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Liên Hoa",
          content: "Huyện Bình Chánh, Tp. Hồ Chí Minh, Việt Nam",
          svg: "house",
          src: LienHoa,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Liên Hương",
          content: "Đồng Tháp, Việt Nam",
          svg: "house",
          src: LienHuong,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Phật Quang",
          content: "Đồng Tháp, Việt Nam",
          svg: "house",
          src: PhatQuang,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Chùa Thiện Quang",
          content: "Bà Rịa, Bà Rịa - Vũng Tàu, Việt Nam",
          svg: "house",
          src: ThienQuang,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Phước Điền Tự",
          content: "Châu Đốc, An Giang, Việt Nam",
          svg: "house",
          src: PhuocDien,
          alt: "Thiền đường Tổ sư thiền",
        },
        {
          heading: "Phước Lộc Tự",
          content: "Tân Biên, Tây Ninh, Việt Nam",
          svg: "house",
          src: PhuocLoc,
          alt: "Thiền đường Tổ sư thiền",
        },
      ]}
  />

  <TestimonialsSection
      title="TỨ LIỆU GIẢN"
      subTitle="4 cách để thấy và đi vào thực tại - 4 Phép Độ Người"
      testimonials={[
        {
          content: "Tứ Liệu Giản",
          author: "(Thiền sư) Lâm Tế Nghĩa Huyền",
          role: "Tổ sáng lập | Lâm Tế Tông",
          avatarSrc: "/images/masters/cn/Linji_Yixuan.jpg",
        },
      ]}
      statistics={[
        {
            count: "Hữu thời đoạt nhân bất đoạt cảnh",
            description: "Hú nhật phát sinh phô địa cẩm. Anh hài thùy phát bạch như ty",
        },
        {
            count: "Hữu thời đoạt cảnh bất đoạt nhân",
            description: "Vương lệnh dĩ hành biến thiên hạ. Tướng quân tái ngoại tuyệt yên trần",
        },
        {
            count: "Hữu thời nhân cảnh câu đoạt",
            description: "Tịnh Phần tuyệt tín. Độc xử nhất phương",
        },
        {
            count: "Hữu thời nhân cảnh bất câu đoạt",
            description: "Vương đăng bảo điện. Dã lão âu ca",
        },
      ]}
  />

  <HeroSectionAlt
      title="Tổ sư thiền"
      subTitle="Tổ sư thiền"
      url="https://github.com/trannhukhoinguyen/patriarchal-zen"
  />

  <ClientsSection
      title="Trusted by Industry Leaders"
      subTitle="Experience the reliability chosen by industry giants."
      partners={partnersData}
  />

  <AnnouncementBanner
      btnId="dismiss-button"
      btnTitle="Tông Phong Tổ Sư Thiền"
      url="https://www.youtube.com/c/T%C3%B4ngPhongT%E1%BB%95S%C6%B0Thi%E1%BB%81n/videos"
  />
</MainLayout>
