---
// Import components, modules and types
import MainLayout from "@/layouts/MainLayout.astro";
import { SITE } from "@database/constants";
import GoogleOrgChart from '../../components/ui/charts/GoogleOrgChart';

// Define variables for page content
const title: string = "Tổ sư";
const subTitle: string = "Tổ sư";
const pageTitle: string = `Tổ sư | ${SITE.title}`;

export async function getStaticPaths() {
  return [
    {
      params: {
        lang: 'vi'
      }
    },
  ];
}
const { lang } = Astro. params;
---

<MainLayout
    lang={lang}
    title={pageTitle}
    structuredData={{
        "@context": "https://schema.org",
        "@type": "WebPage",
        "@id": "https://patriarchalzen.quest/masters",
        "url": "https://patriarchalzen.quest/masters",
        "name": "Tổ sư | Patriarchal Zen",
        "description": "Tổ sư",
        "isPartOf": {
            "@type": "WebSite",
            "url": "https://patriarchalzen.quest",
            "name": "Patriarchal Zen",
            "description": "Tổ sư"
        },
        "inLanguage": lang
    }}
>
    <section
        class="mx-auto max-w-[85rem] space-y-8 px-4 pt-16 sm:px-6 lg:px-8 2xl:max-w-full"
    >
        <!--Page header-->
        <div class="mx-auto max-w-3xl text-left sm:text-center">
            <h1
                class="block text-balance text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-200 md:text-5xl lg:text-6xl"
            >
                {title}
            </h1>

            <p
                class="mt-4 text-pretty text-lg text-neutral-600 dark:text-neutral-400"
            >
                {subTitle}
            </p>
        </div>
    </section>

    <section
        class="mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full"
    >
        <GoogleOrgChart client:load lang={lang} />
    </section>
</MainLayout>
