---
const { playlist } = Astro.props;
---

<div class="w-full overflow-x-auto">
    <table class="min-w-[640px] table-auto text-left divide-y-2 divide-gray-500/30">
        <thead class="hidden sm:table-header-group">
        <tr class="text-gray-300">
            <th class="font-normal px-4 py-2 whitespace-nowrap">#</th>
            <th class="font-normal px-4 py-2 whitespace-nowrap">Title</th>
            <th class="font-normal px-4 py-2 whitespace-nowrap">Album</th>
        </tr>
        </thead>
        <tbody>
        {
            playlist.episodes?.map((episode: any, index: string) => (
                    <tr class="group hover:bg-gray-500/20 sm:table-row block sm:table-row mb-4 border-b border-gray-700 sm:border-0">
                        <td class="whitespace-nowrap px-4 py-2 sm:table-cell block text-sm text-gray-400">#{index + 1}</td>
                        <td class="whitespace-nowrap px-4 py-2 flex gap-3 items-center sm:table-cell block">
                            <div class="h-10 w-10 shrink-0">
                                <img
                                        src={episode.image}
                                        alt={episode.title}
                                        class="rounded object-cover h-full w-full shadow-[5px_0_30px_0px_rgba(0,0,0,0.3)]"
                                />
                            </div>
                            <div class="leading-none">
                                <a
                                        href={`/${episode.path}/${episode.id}`}
                                        class="text-gray-300 group-hover:text-white hover:underline text-sm block"
                                >
                                    {episode.title}
                                </a>
                                <div class="text-sm text-gray-300 group-hover:text-white">
                                    <a href="#" class="hover:underline">
                                        {episode.authors}
                                    </a>
                                </div>
                            </div>
                        </td>
                        <td class="whitespace-nowrap px-4 py-2 sm:table-cell block">
                            <a
                                    href={episode.link}
                                    class="text-gray-300 group-hover:text-white hover:underline text-sm"
                                    target="_blank"
                            >
                                {episode.link}
                            </a>
                            <br />
                            {
                                episode.other_link &&
                                    <a
                                            href={episode.other_link}
                                            class="text-gray-300 group-hover:text-white hover:underline text-sm"
                                            target="_blank"
                                    >
                                        {episode.other_link}
                                    </a>
                            }
                        </td>
                    </tr>
            ))
        }
        </tbody>
    </table>
</div>

