---
import MainLayout from "../../layouts/MainLayout.astro";
import YouTubePlaylist from "@/components/ui/YouTubePlaylist.astro";
import YouTube from "@/components/ui/YouTube.astro";
import youtubeDb from "@/database/vi/youtube/youtubeDb.tsx";
import youtubePlaylistDb from "@/database/vi/youtube/youtubePlaylistDb.tsx";
---

<MainLayout title="Youtube">
    <div
            id="playlist-container"
            class="relative transition-all duration-1000 bg-context"
            style="min-height:300px;--context-color:#134e4a;"
    >
        <div class="px-6 relative z-10 mt-4">
            <h2 class="text-2xl font-bold">Youtube Playlist</h2>
            <hr />
            {
                youtubePlaylistDb?.map(playlist =>
                        <h3 class="text-lg font-normal">{playlist.title}</h3>
                        <YouTubePlaylist
                            playlistId={playlist.listId}
                            title={playlist.title}
                        />)
            }
        </div>
        <div class="px-6 relative z-10 mt-4">
            <h2 class="text-2xl font-bold">Youtube Videos</h2>
            <hr />
            {
                youtubeDb?.map(video =>
                        <h3 class="text-lg font-normal">{video.title}</h3>
                        <YouTube
                            playlistId={video.videoId}
                            title={video.title}
                        />)
            }
        </div>
    </div>
</MainLayout>
